<div class="waypoint-details">


<h3 class="waypoint-details-group-title">Addresse</h3>

  <p>{{ waypoint.address }}</p>
  <p>
    <a [href]="mapLink" target="_blank" class="no-decoration">
      <i class="material-icons">location_on</i> {{ waypoint.location.lat }}, {{ waypoint.location.lng }}
    </a>
  </p>

<h3 class="waypoint-details-group-title">Kontakt</h3>

<p class="contact-name">
  <i class="material-icons">person</i> {{ waypoint.contact.name }}
</p>
<p>
  <a [href]="callLink" target="_blank" class="no-decoration"><i class="material-icons">phone</i> {{ waypoint.contact.phoneNumber }}</a>
</p>
<p>
  <a [href]="mailLink" target="_blank" class="no-decoration"><i class="material-icons">mail</i> {{ waypoint.contact.email }}</a>
</p>


  <ui-button *ngIf="isCurrentWaypoint || isPendingWaypoint"><i class="material-icons">textsms</i> Ankunft ankündigen</ui-button>

<h3 class="waypoint-details-group-title">Termin</h3>

  <p>
    <i class="material-icons">calendar_today</i> {{ waypoint.date | localDate: 'dd.MM.yyyy' }}
  </p>
  <p>
    <i class="material-icons">category</i> {{ WaypointCategory[waypoint.category] | translate }}
  </p>
  <p>
    <i class="material-icons">check_box</i> {{ WaypointStatus[waypoint.status] | translate }}
  </p>

  <div class="button-row">
    <ui-button *ngIf="isCurrentWaypoint"><i class="material-icons">check</i> Abschließen</ui-button>

    <ui-button *ngIf="isCurrentWaypoint || isPendingWaypoint"><i class="material-icons">cancel</i> Absagen</ui-button>
  </div>

</div>

