<div>

  <nav-navigation-day-selector></nav-navigation-day-selector>

  <div class="waypoint-list" cdkDropList (cdkDropListDropped)="drop($event)">
      <div class="waypoint" *ngFor="let wp of dragableWaypoints" cdkDrag [ngClass]="getCurrentClass(wp.currentWaypoint)">
        <img [src]="wp.iconUrl" [alt]="" class="waypoint-icon" />
        <div class="waypoint-description">
          <div class="waypoint-title">
            <span>{{ wp.waypoint.address | truncate : 40 }}</span>
          </div>
          <div class="waypoint-type">
            {{ WaypointCategory[wp.waypoint.category] }}
          </div>
        </div>
      </div>
      <div class="waypoint" style="background-color: red; height: 4rem" *cdkDragPlaceholder></div>
  </div>
</div>
