<div>

  <nav-navigation-day-selector></nav-navigation-day-selector>

  <div>
    <ul class="waypoint-list">
      <li *ngFor="let wp of waypoints">
        <img [src]="wp.iconUrl" [alt]="wp.iconUrl" class="waypoint-icon" />
        <div class="waypoint-description">
          <div class="waypoint-title">
            <span>{{ wp.waypoint.address | truncate : 40 }}</span>
          </div>
          <div class="waypoint-type">
            {{ WaypointCategory[wp.waypoint.category] }}
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>
